<section class='col-md-12 give-padding-tb'><!--start of internal content-->
<div class='container'>
<div class='row clearfix'><!-- Nav tabs -->
<ul class='nav nav-tabs col-md-6 internal-room-tabs'>
<li class='active'><a href='#room1' data-toggle='tab'>Room1</a></li>
<li><a href='#room2' data-toggle='tab'>Room2</a></li>
<li><a href='#room3' data-toggle='tab'>Room3</a></li>
<li><a href='#room4' data-toggle='tab'>Room4</a></li>
</ul>
<!-- Tab panes -->
<div class='tab-content col-md-6 internal-room-content'>

<div id='room1' class='tab-pane active'>
<h2 class='col-md-12 give-title-slogan give-display-inline'>Type of rooms</h2>
<figure class='internal-rooms-figure give-mb-lg'><img src='media-library/Rooms/full-room-view.jpg' alt='' /> <figcaption><a class='fresco' href='media-library/Rooms/full-room-view.jpg'>اضغط لتكبير الصوره</a></figcaption></figure>
<p>Studio that sleeps two</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
</div>
<div id='room2' class='tab-pane'>
<h2 class='col-md-12 give-title-slogan give-display-inline'>Type of rooms</h2>
<figure class='internal-rooms-figure give-mb-lg'><img src='images/room.jpg' alt='' /> <figcaption><a class='fresco' href='images/room.jpg'>Enlarge Image</a></figcaption></figure>
<p>Studio that sleeps two</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
</div>

<div id='room3' class='tab-pane'>
<h2 class='col-md-12 give-title-slogan give-display-inline'>Type of rooms</h2>
<figure class='internal-rooms-figure give-mb-lg'><img src='images/room.jpg' alt='' /> <figcaption><a class='fresco' href='images/room.jpg'>Enlarge Image</a></figcaption></figure>
<p>Studio that sleeps two</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
</div>


<div id='room4' class='tab-pane'>
<h2 class='col-md-12 give-title-slogan give-display-inline'>Type of rooms</h2>
<figure class='internal-rooms-figure give-mb-lg'><img src='images/room.jpg' alt='' /> <figcaption><a class='fresco' href='images/room.jpg'>Enlarge Image</a></figcaption></figure>
<p>Studio that sleeps two</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
<h5 class='col-md-12 give-btn-c'>Unit Facilities:</h5>
<p>Twin Bedroom that accommodates two persons fully furnished connected to a terrace and equipped with satellite TV, Mini Bar and en-suite Luxury Bathroom with shower &amp; tub.</p>
</div>

</div>

</div>

</div>
</section>
<!--end of internal content-->