<article class="col-md-12 internal-post"><!--start of internal-post-->
              <h2 class="col-md-12 give-boldFamily give-red-c">Elizabeth Pickard</h2>
              <div class=" clearfix">
                <div class="col-md-6 secondary-image give-mb-med" style="background-image: url('main/images/dummy-image.jpg');"></div>
                <div class="col-md-6 secondary-text give-mb-med">
                    <h2 class="col-md-12 give-boldFamily give-darkRed-c give-mb-no">Contact</h2>
                    <a href="" class="col-md-12 give-inlineblock give-mb-sm">epickard@pdx.edu</a>

                    <h2 class="col-md-12 give-boldFamily give-darkRed-c give-mb-no">Subjects</h2>
                    <p>Anthropology, Geography, Geology</p>

                    <h2 class="col-md-12 give-boldFamily give-darkRed-c">Ask Librarian</h2>
                    <ul class="col-md-12 secondary-text-list">
                      <li><a href="" target="_blank"><img src="main/images/ask1.png" alt=""></a></li>
                      <li><a href="" target="_blank"><img src="main/images/ask2.png" alt=""></a></li>
                      <li><a href="" target="_blank"><img src="main/images/ask3.png" alt=""></a></li>
                      <li><a href="" target="_blank"><img src="main/images/ask4.png" alt=""></a></li>
                    </ul>
                </div>
              </div>

              <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>
              <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>
              <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>
              <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>\
            </article>