/* 
    Document   : main
    Created on : Feb 27, 2012, 9:14:03 PM
    Author     : kareem Nour
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

 

 
#autosuggest_container ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid gainsboro;
    border-bottom: none;
    width: 443px;
}

#autosuggest_container ul li{
    display: block;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
}

#autosuggest_container ul li:hover{
    background-color: #ccc;
}