/*Custom CSS*/
/*============*/

//Typography vars
$main-font: 1.6rem
$h1: 3.5rem
$h2: 2.5rem
$h3: 2rem
$h4: 1.8rem 
$h5: 1.6rem
$h6: 1.4rem
$main-face: 'Trebuchet MS',sans-serif
$second-face: 'Trebuchet MS Bold', sans-serif

//fonts
$regular : 400
$bold: 700
$SemiBold: 600
$extra-bold : 800
$italic: italic


//colors vars
$main-color: #134260
$text-color: #797979
$text-color2: #333
$text-color3: #ababab
$nav-color: #11324d
$dropdown-color: #33536f
$btn-color: #62b5e5
$white-color: #fff
$white-color2: #d6d2c4
$gray-color: #f0eded
$gray-color2: #d8d8d8
$gray-color3: #ebeaea
$caption-color: #666666
$triangle-color: #1764a3


$btn-padding: 1rem 3rem
*
	margin: 0
	padding: 0
	outline: 0!important
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	

html
	font-size: 10px


html,body
	height: 100%


body
	font-family: $main-face
	font-size: inherit
	line-height: 1.5
	color: $main-color
	font-weight: 400

/*Give All anchors a transition*/
a,button,.btn
	-webkit-transition: all .45s
	transition: all .45s

/* for responsive*/
img  
	max-width: 100%
	vertical-align: middle
	border: none

a
	color: $main-color
	&:hover,&:focus,&:active
		color: $main-color

p , ul , form , table , div , ol
	font-size: $main-font

h1
	font-size: $h1

h2
	font-size: $h2

h3
	font-size: $h3

h4
	font-size: $h4

h5
	font-size: $h5

h6
	font-size: $h6

//fixing the line-height instead of bootstrap's
h1,h2,h3,h4,h5,h6,p
	margin:  0 0 15px 0
	font-weight: inherit
	line-height: inherit
h1,h2,h3,h4,h5,h6
	a
		font-size: inherit
		color: inherit
		&:hover,&:focus,&:active
			font-size: inherit
			color: inherit
.fa
	margin: 0 1.5rem 0

label
	font-weight: $regular

//later adds
.form-control
	background-color: $gray-color
	border: none
	box-shadow: none
	border-radius: 0
	
.col-md-12
	&.give
		&-padding
			&-reg
				padding: 1rem 1.5rem
			&-tb
				padding: 2.5rem 0
		&-float
			&-left
				float: left
			&-right
				float: right

.btn
	color: white
	font-size: $h5
	border-radius: 2px
	padding: $btn-padding
	font-weight: 700
	&:hover,&:focus,&:active
		background: $text-color2
		color: white
	&.give-btn-bg
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.28)
		transition: background .45s
		position: relative
		&:active
			top: 1px
			box-shadow: none
		&:hover,&:focus,&:active
			background: $nav-color
	&.give-nav-bg
		&:hover,&:focus,&:active
			background: $btn-color
//give
.give
	&-mb-sm
		margin-bottom: 1rem
	&-mb-lg
		margin-bottom: 3rem

	&-no-margin
		margin: 0

	&-padding
		&-reg
			padding: 1rem 1.5rem
		&-tb
			padding: 2.5rem 0
		&-rl
			padding: 0 1.5rem
	&-font
		&-sm
			font-size: $h6
		&-bold
			font-weight: $bold

	&-white-c
		color: $white-color
		&2
			color: $white-color2

	&-main-c
		color: $main-color

	&-nav-c
		color: $nav-color
	&-btn-c
		color: $btn-color

	&-text-c
		color: $text-color
		&2
			color: $text-color2
		&3
			color: $text-color3
	&-gray-c
		color: $gray-color
		&2
			color: $gray-color2
		&3
			color: $gray-color3



	&-main-bg
		background-color: $main-color
	&-nav-bg
		background-color: $nav-color
	&-btn-bg
		background-color: $btn-color
	&-text-bg
		background-color: $text-color
		&2
			background-color: $text-color2
		&3
			background-color: $text-color3
	&-gray-bg
		background-color: $gray-color
		&2
			background-color: $gray-color2
		&3
			background-color: $gray-color3

	&-absolute
		position: absolute
		top: 0
		left: 0
		&-full
			@extend .give-absolute
			bottom: 0
			right: 0
		&-rb
			position: absolute
			bottom: 0
			right: 0
		&-rlb
			position: absolute
			bottom: 0
			right: 0
			left: 0
		&-rt
			position: absolute
			top: 0
			right: 0
		&-lb
			position: absolute
			bottom: 0
			left: 0



	&-semi
		z-index: 0
		&-black
			@extend .give-semi
			background-color: rgba(#000,.5)
		&-blue
			@extend .give-semi
			background-color: rgba($triangle-color,.8)
			&2
				background-color: rgba($nav-color,.7)
		&-triangle
			@extend .give-semi
			border-color: transparent
			width: 0!important
			height: 0
			border-right-color: rgba($triangle-color,.8)
			border-bottom-color: rgba($triangle-color,.8)
			border-style: solid
			border-width: 70px 70px
		&-gradient
			background-image: -webkit-linear-gradient(bottom, rgba($triangle-color,1) 0%, transparent)
			background-image: -moz-linear-gradient(bottom, rgba($triangle-color,1) 0%, transparent)
			background-image: -o-linear-gradient(bottom, rgba($triangle-color,1) 0%, transparent)
			background-image: linear-gradient(to top, rgba($triangle-color,1) 0%, transparent)


	&-list-block
		&>*
			display: block
	&-list-inline
		&>*
			display: flex
			width: 50%

	&-title-slogan
		margin-bottom: 2rem
		&:after
			content: url("../images/title-slogan.svg")
			width: 180px
			display: block
		&2
			&:after
				content: ''
				width: 50%
				border-top: 1px solid #9d9d9d
				margin: 0rem auto
				display: block

		&.text-center
			&:after
				margin: 0 auto

	&-nolist
		list-style-type: none

	&-float
		&-left
			float: left
		&-right
			float: right


	