//header
.header
	&-top
		&-contact
			margin-bottom: 0
			li
				display: inline-block
				margin: 0 1rem 0 0
				.fa
					font-size: 1.8rem
					vertical-align: middle
	&-logo
		display: block

	&-middle
		.container
			display: flex
			align-items: center
		.navbar-nav
			display: flex
			align-items: center
			&>li
				flex: 1 0 auto
				.btn
					padding: $btn-padding
					&:hover,&:focus,&:active
						color: white
						background-color: $nav-color
				&>a
					&:hover,&:focus,&:active
						color: $btn-color
						background-color: transparent
			.dropdown
				&-menu
					background-color: $dropdown-color
					border: none
					box-shadow: none
					font-size: inherit
					padding: 2.5rem 0
					min-width: 622px
					padding-right: 1.5rem
					&-inner
						width: 33.333333%
						padding-right: 1.5rem
					a
						color: white
						display: block
						padding: 1rem 1.5rem
						font-size: inherit
						&:hover,&:focus,&:active
							color: white
							background-color: $btn-color
				&.open
					&>.dropdown-toggle
						background-color: $dropdown-color
						color: white
				&-image
					width: 66.666666%
					height: 212px


			&>.header-home
				&>a
					padding: 0
					font-size: 2rem
					margin: 0
					margin-right: 1rem
					background-color: transparent!important
					color: $main-color!important