//Custom SASS
//By Mahmoud Zakaria

@import common


.main
	&-hero
		height: 500px
		.container
			position: relative
			height: 100%
		&-caption
			width: 540px
			position: absolute
			bottom: 3rem
			left: 0
			p
				font-size: 2rem
	&-offers
		&-item
			display: block
			height: 480px
			overflow: hidden
			padding: 0
			border-right: 1px solid white
		&-caption
			color: $white-color
			.fa
				font-size: 2.5rem
				margin-bottom: 1.5rem
		&-left
			.main-offers-caption
				padding-top: 2.5rem
		&-half
			height: 100%
			&:hover
				.give-semi-triangle
					border-width: 500px
					border-right-color: rgba($triangle-color,.5)
					border-bottom-color: rgba($triangle-color,.5)
			.main-offers-caption
				display: flex
				flex-direction: column
				justify-content: flex-end
				a
					color: white
					text-decoration: none
				h3,p
					margin-bottom: 0
			.give-semi-triangle
				-webkit-transition: all 1s
				transition: all 1s

	&-height-half
		height: 50%
		background-color: black
	